[include]
    path = ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main
[color]
    ui = auto
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[fetch]
    prune = true
[diff]
    algorithm = histogram
[merge]
    conflictstyle = zdiff3
[rerere]
    enabled = true
[alias]
    vlog = log --graph --oneline --decorate -20
