"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cc58084b-5d10-432e-8b3b-0b536822ba26"
  "atom-ide-ui":
    use: {}
  "atom-material-ui":
    colors:
      predefinedColor: "Indigo"
    tabs:
      compactTabs: true
  "atom-package-deps":
    ignored: [
      "minimap-highlight-selected"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
    useCoreMovementCommands: false
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "7cdbe368-ae11-41a7-b50e-6d83fefb0f76"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  pigments: {}
  welcome:
    showOnStartup: false
  zentabs: {}
